.image2{
    width:15vw;
       
}
.unordered{
    list-style:none;
    display:none;
}
.unordered li{
    display:block;
    padding:1.3vw;

}
.unordered li a{
    text-decoration: none;
}
.container{
    display:flex;
    justify-content: space-between;
    
}
.ordered{
    display:flex;
}
